/* HEADER FIX */
.login-header {
  position: fixed;
  top: 20px;
  left: 40px;
  right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.login-logo {
  width: 150px;
}

.home-btn {
  color: white;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}

.home-btn:hover {
  text-decoration: underline;
}


.login {
  min-height: 100vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("https://assets.nflxext.com/ffe/siteui/vlv3/3d2f8b2c-5f53-44a7-bbd4-42177b4dc2b6/IN-en-20240115-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: rgba(0, 0, 0, 0.75);
  padding: 60px;
  width: 100%;
  max-width: 400px;
  color: white;
}

.login-box h1 {
  margin-bottom: 30px;
}

.login-box input {
  width: 100%;
  padding: 16px;
  margin-bottom: 16px;
  background: #333;
  border: none;
  color: white;
}

.login-btn {
  width: 100%;
  padding: 16px;
  background: #e50914;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.help {
  margin-top: 16px;
  color: #b3b3b3;
}
