.footer {
  background-color: #000;
  padding: 60px 40px;
  color: #999;
}


.call {
  margin-bottom: 30px;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-bottom: 30px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 16px;
  font-size: 0.9rem;
  cursor: pointer;
}

.footer-links li:hover {
  text-decoration: underline;
}

.country {
  margin-top: 20px;
  font-size: 0.9rem;
}

/* EMAIL SECTION BELOW FAQ */
.email-bottom {
  background-color: #000;
  text-align: center;
  padding: 60px 20px 50px;
  color: white;
}

.email-bottom p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.email-bottom .email-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  max-width: 700px;
  margin: 0 auto;
}

.email-bottom input {
  width: 60%;
  padding: 18px;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
}

.email-bottom button {
  background: #e50914;
  color: white;
  border: none;
  padding: 18px 28px;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
}
