.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.logo {
  width: 150px;
}

.nav-right {
  display: flex;
  gap: 20px;
}

.signin {
  background-color: #e50914;
  color: white;
  border: none;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
}
